$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;

$primary-background: #ffffff;
$secondary-backgrond: #f5f4fa;
$footer-background: #2f303a;

$common-btn-hover: #188CE8;

$clients-fill: #afb1b8;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);